@{
    ViewData["Title"] = "Hooldus";
}
<div class="text-center">
    <h1 class="display-4">Hooldus</h1>
</div>

<h2>Jalgrataste remont ja hooldus</h2>
<br />
<div>
    <strong style="">Toyota C-HR</strong>

    <p>Kõik Toyota C-HRi komponendid, alates uuenduskuuri läbinud esiosast ja lõpetades uue tagatulede disainiga, on ühtaegu elegantsed, isikupärased ja viimistletud. See modernne kupee on loodudki tavapärasest eristuma.</p>
    <p style="font-style: italic; font-size: 16px">◎ Sõidu alustamise tasu 0.50€ sisaldub hinnakalkulatsioonis.</p>
    </>
</div>
<div>
    <br />

    <strong style="">JEEP® COMPASS</strong>

    <p>
        Jeep® tähistab kaubamärgi sünni 80ndat aastapäeva erimudeliga, mille unikaalsed detailid võimendavad ja rõhutavad Compassi eripära ja elegantsust. 80th Anniversary erimudelit esitletakse omanäolise värvivalikuga – erivärvi rohelisena koos neutraalsete hallide viimistlusdetailidega. Uue disainiga 18″ hallid valuveljed ja led tuled paistavad silma oma värske ilmega. Lisaks sellele tõstavad 80th Anniversary embleemid esiustel ja interjööris esile selle “Limited Edition” erimudeli eksklusiivsust ja elegantsust.

    </p>
    <p style="font-style: italic; font-size: 16px">◎ Sõidu alustamise tasu 0.50€ sisaldub hinnakalkulatsioonis.</p>
</div>


<a href="/Teenusetelimuskasutajas/Create">
    <button>
        <span>Rentimine</span>
    </button>
</a>

