@{
    ViewData["Title"] = "сitybee";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast!</h1>
    <h2>Citybee Autorent</h2>
</div>
<br />
<br />
<div class="block-left">
    <h2>Lihtne alustada!</h2>
    <p style="font-size: 20px;">Laadi alla CityBee rakendus ja sul on võimalik kasutada rohkem kui 350 autot igal ajal.</p>
    <p style="font-size: 15px;">✔ Registreerimine võtab aega vaid 60 sekundit.</p>
    <p style="font-size: 15px;">✔ Registreerimisel ei lisandu lisatasusi.</p>
    <p style="font-size: 15px;">✔ Kõik, mis sul vaja on, on maksekaart ja juhiluba.</p>
</div>
<div class="block-right">
    <img style="margin-right: 45px; margin-left: 10px;" width="300" height="300" src="Image/telephone.png" />
</div>